{
  "root": true,
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [0, "single"],
    "comma-dangle": 0,
    "curly": [1, "multi-line"],
    "no-console": 0,
    "new-cap": 0,
    "consistent-return": 0,
    "camelcase": 0,
    "dot-notation": 0,
    "semi": [1, "always"],
  },
  env: {
    "node": true
  },
}
